<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dog Scraper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</head>
<body style="padding-top: 0px">
<div id="menu"></div>
<xmp theme="readable" style="display:none;">
HTTP API
--------
### GET
| Route                  | Description                                               |
|------------------------|-----------------------------------------------------------|
| "/"                    | root page.                                                |
| "/dogs"                | view the dogs currently up for adoption.                    |

#### Dog JSON
The dog JSON contains information about a specific dog up for adoption.

* It contains 8 fields:
  - name: the name of the dog.
  - age: the birthdate of the dog (isoformat).
  - gender: the gender of the dog.
  - breed: list of the breeds of the dog.
  - price: the price for adoption (US dollars).
  - site: URL to the dog details page.
  - descriptions: list of descriptive paragraphs about the dog.
  - images: list of URLS to images of the dog.


* Gender:

      {% for gender in genders -%}
        "{{ gender }}"
      {% endfor %}

* Breed:

      {% for breed in breeds -%}
        "{{ breed }}"
      {% endfor %}

#### GET Dogs (/dogs)
Retrieves the dogs currently up for adoption.

Examples:

    Information about one dog currently up for adoption.

    GET /dogs
    [
      {
        "name": "Turner",
        "age": "2011-07-11T09:32:32",
        "gender": "male",
        "breed": [
          "dachshund"
        ],
        "price": 250,
        "site": "http:\/\/secondhandhounds.org\/dog\/5694654\/",
        "descriptions": [
          "Stray from Missouri"
        ],
        "images": [
          "https:\/\/s3.amazonaws.com\/filestore.rescuegroups.org\/3699\/pictures\/animals\/5694\/5694654\/57764307_500x640.jpg",
          "https:\/\/s3.amazonaws.com\/filestore.rescuegroups.org\/3699\/pictures\/animals\/5694\/5694654\/57764308_500x543.jpg",
          "https:\/\/s3.amazonaws.com\/filestore.rescuegroups.org\/3699\/pictures\/animals\/5694\/5694654\/57764309_500x440.jpg",
          "https:\/\/s3.amazonaws.com\/filestore.rescuegroups.org\/3699\/pictures\/animals\/5694\/5694654\/57764310_500x556.jpg"
        ]
      }
    ]

    Information about two dogs currently up for adoption

    GET /dogs
    [
      {
        "name": "Turner",
        "age": "2011-07-11T09:32:32",
        "gender": "male",
        "breed": [
          "dachshund"
        ],
        "price": 250,
        "site": "http:\/\/secondhandhounds.org\/dog\/5694654\/",
        "descriptions": [
          "Stray from Missouri"
        ],
        "images": [
          "https:\/\/s3.amazonaws.com\/filestore.rescuegroups.org\/3699\/pictures\/animals\/5694\/5694654\/57764307_500x640.jpg",
          "https:\/\/s3.amazonaws.com\/filestore.rescuegroups.org\/3699\/pictures\/animals\/5694\/5694654\/57764308_500x543.jpg",
          "https:\/\/s3.amazonaws.com\/filestore.rescuegroups.org\/3699\/pictures\/animals\/5694\/5694654\/57764309_500x440.jpg",
          "https:\/\/s3.amazonaws.com\/filestore.rescuegroups.org\/3699\/pictures\/animals\/5694\/5694654\/57764310_500x556.jpg"
        ]
      },
      {
        "name": "Sweet Pea",
        "age": "2014-12-12T00:00:00",
        "gender": "female",
        "breed": [
          "boxer",
          "pitbull"
        ],
        "price": 300,
        "site": "http:\/\/secondhandhounds.org\/dog\/10879856\/",
        "descriptions": [
          "Pulled from an animal control with her 6 babies"
        ],
        "images": [
          "https:\/\/s3.amazonaws.com\/filestore.rescuegroups.org\/3699\/pictures\/animals\/10879\/10879856\/53231478_500x500.jpg",
          "https:\/\/s3.amazonaws.com\/filestore.rescuegroups.org\/3699\/pictures\/animals\/10879\/10879856\/53231480_500x500.jpg",
          "https:\/\/s3.amazonaws.com\/filestore.rescuegroups.org\/3699\/pictures\/animals\/10879\/10879856\/53231481_500x500.jpg",
          "https:\/\/s3.amazonaws.com\/filestore.rescuegroups.org\/3699\/pictures\/animals\/10879\/10879856\/46873263_500x375.jpg",
          "https:\/\/s3.amazonaws.com\/filestore.rescuegroups.org\/3699\/pictures\/animals\/10879\/10879856\/46873271_500x375.jpg",
          "https:\/\/s3.amazonaws.com\/filestore.rescuegroups.org\/3699\/pictures\/animals\/10879\/10879856\/41125041_500x683.jpg",
          "https:\/\/s3.amazonaws.com\/filestore.rescuegroups.org\/3699\/pictures\/animals\/10879\/10879856\/41125044_500x716.jpg",
          "https:\/\/s3.amazonaws.com\/filestore.rescuegroups.org\/3699\/pictures\/animals\/10879\/10879856\/41125045_500x750.jpg",
          "https:\/\/s3.amazonaws.com\/filestore.rescuegroups.org\/3699\/pictures\/animals\/10879\/10879856\/41125046_500x750.jpg",
          "https:\/\/s3.amazonaws.com\/filestore.rescuegroups.org\/3699\/pictures\/animals\/10879\/10879856\/41125048_500x804.jpg"
        ]
      }
    ]
</xmp>
<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</body>
</html>
